<p id="notice"><%= notice %></p>

<div class="sort-options-container">
	<%= render 'show_movie_sort_options' %>
</div>

<div class="row">
	<% @movies.each do |movie| %>
		<div class="col-md-3">
			<%= generate_movie_tile(movie) %>
		</div>
	<% end %>
</div>
<div class="pagination-container">
	<%= paginate @movies %>
</div>