<br>
<br>
<br>
<div class="row">
	<div class="col-md-2">
		<img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/<%= @movie.poster_path %>">	
	</div>
	<div class="col-xl-10 movie-description-container">
		<%= render 'show_movie_description_content' %>
	</div>
</div>
<br>
<div class="row">
	<%= render 'show_movie_reviews' %>
</div>
<div class="pagination-container">
	<%= paginate @reviews %>
</div>

