.review-item {
	margin-bottom: 10px;
	padding: 2.5% 0;
	position: relative;
	min-height: 300px;

	.release-date{
		float: right;
	}

	.write-review{
		position: absolute;
		bottom: 0;
		right: 2.5%;
	}

	.review-item-img{
		width: 120px;
		padding-right: 10px;
	}
}

.review-item:nth-of-type(even){
	background-color: #fafafa;
}

.review-author-text{
	float: right;
	display: block;
}

.movie-review-content{
	clear: both;
}

.recent-content-container {
	padding: 2.5%;
	background-color: #fafafa;
}

.sort-options-container{
	padding: 1%;
	margin-bottom: 2.5%;
}

.review-container{
	padding: 2.5%;
	margin-top: 5%;
	background-color: rgba(0, 0, 0, 0.01);

	.review-info-content{
		padding-left: 2.5%;
		float: right;
	}
}

.recent-movie-item, .recent-review-item{
	clear: both;
}

.recent-movie-rating, .recent-review-rating{
	float: right;
	display: inline-block;
}

.recent-review-rating{
	font-style: italic;
}

.about-container, .new-review-container{
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	padding-top: 5.35%;
}

.small-brand-image{
	height: 100px;
	float: left;
	padding-right: 2.5%;
}

.new-review-form{
	textarea{
		width: 100%;
		height: 100px;
	}
	select{
		width: 100%;
	}
}