.review-item {
	border: 1px solid black;
	margin-bottom: 10px;
}

.recent-content-container {
	border: 1px solid black;
}

.movie-container{
	padding: 2.5%;
	margin-top: 5%;
	background-color: rgba(0, 0, 0, 0.01);

	img{
		margin: 0 auto;
		display: block;
	}

	.movie-info-content{
	padding-left: 2.5%;
	}
}