<% @reviews.each do |review| %>

	<div class="row review-item">
		<div class="col-xl-3">
			<img src="http://via.placeholder.com/200x150">
		</div>
		<div class="col-xl-9">
			<h3>Movie Name</h3>
			<p>Release Date: April 27th, 2018</p>
			<p>Genre: Action</p>

			<%= link_to 'Leave a Review', new_review_path %>	
		</div>
	</div>

<% end %>