<div class="about-container">
	<h3>ABOUT MOVIEGRUMPS</h3>
	<br>
	<p>Morbi lorem felis, maximus a fringilla vitae, sodales rhoncus velit. Praesent vel dolor at massa gravida faucibus. Sed iaculis justo at faucibus porttitor. Nulla sapien arcu, faucibus id consectetur eget, pulvinar nec dui. Vestibulum in dictum magna. <strong>MovieGrumps encourages you to be as grumpy as possible! If you watched a movie that only served to waste your time then make it known to the rest of the reviewers!</strong>. Nullam viverra tincidunt nibh eu rutrum. Vestibulum tempor diam vel ipsum vestibulum, in laoreet elit pharetra. Nunc et elit cursus, auctor risus et, scelerisque purus. Sed eget fermentum lorem, at vehicula nisl. Etiam semper lacus et mi ornare, id interdum nunc pretium.</p>	
	<br>
	<hr>
	<h3>ABOUT THE CREATOR</h3>
	<br>
	<%= image_tag("grumps-icon.png", class: "small-brand-image") %>
	<p><strong>Winstone A. Brandurton</strong>, et porttitor dui pharetra et. Curabitur pulvinar id ipsum a rhoncus. In vel enim sagittis, ullamcorper ligula sit amet, elementum nunc. Phasellus vitae aliquam arcu. Nullam vel malesuada leo, commodo vehicula nulla. Nullam accumsan ut nisl efficitur egestas. Nunc et purus molestie, finibus massa eu, commodo urna. Fusce sit amet maximus nisi, in pellentesque diam. Cras eget tellus in risus tempor ultricies sit amet ut lacus. Mauris ut malesuada tortor, quis tincidunt libero. Vestibulum accumsan ultrices nisi in sagittis. Proin ullamcorper dui in libero consequat, sed cursus ante dignissim. Aliquam erat volutpat. Cras faucibus a ex ultrices congue. Fusce pretium tempus pellentesque. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
	<br>
	<hr>
	<h3>AUDIENCE SCORES</h3>
	<br>
	<p> Nulla facilisi. Suspendisse pharetra scelerisque ante sit amet interdum. Nulla nec finibus nisi. In hac habitasse platea dictumst. Vestibulum egestas augue elit, at viverra diam congue quis. Aenean fermentum sit amet odio sed sodales. Maecenas euismod neque et diam tristique pellentesque. Aliquam erat volutpat. Nunc mollis elit malesuada dapibus semper. Praesent varius euismod purus, id vulputate mauris ornare eget. Nulla placerat ex vel tellus auctor, vel tincidunt magna volutpat. Nunc sed vulputate sem, a aliquet purus. Integer volutpat ex a egestas imperdiet. Vivamus tincidunt lobortis sem.</p>

	<p>Aenean cursus egestas lectus vel eleifend. Nulla ullamcorper metus a purus interdum tincidunt. Etiam ut libero id mi porttitor consequat sit amet at justo. Integer id porta nisi. In sit amet est id sapien egestas bibendum. Proin ante nulla, accumsan eget ultricies et, venenatis vitae massa. Sed nec consectetur metus, id volutpat nisl. Sed venenatis lectus non imperdiet eleifend. Mauris porttitor est sit amet sodales sollicitudin. Nullam quis pretium lorem. Mauris rutrum lectus non lorem scelerisque pellentesque at tincidunt lectus. Nunc quis sem justo. Donec vitae arcu metus. Cras mattis, turpis eget pretium pulvinar, purus sapien placerat massa, a ullamcorper purus velit ut justo. Nullam faucibus commodo mi, eget volutpat tellus. Nunc nulla augue, elementum sed diam eu, lobortis consequat magna. </p>
</div>

