<div class="container">
  <p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-lg-9">
      <%= render 'show_review_content' %>
    </div>
    <div class="col-lg-3">
    	<div class="recent-content-container">
    		<%= render 'show_recent_reviews' %>
    		<hr>
      		<%= render 'show_recent_movies' %>
    	</div>
    </div>
  </div>

</div>

